
<div class="content_details">

    @if (recipeResults[0].strMealThumb != "") {
        <img [src]="recipeResults[0].strMealThumb" class="image_recipe" alt="image_recipe">
    }

    <div class="information_recipe">
        <div class="tags">
            @for (tags of recipeResults[0].tagsFormat; track $index) {
                <span class="tag">{{ tags }}</span>
            }
        </div>

        <h1>{{ recipeResults[0].strMeal}}</h1>
        <p class="descriptionRecipe">{{ recipeResults[0].strInstructions }}</p>

        <p><strong>Categoría: </strong> {{ recipeResults[0].strCategory }}</p>
        <p><strong>Lugar donde se prepara: </strong> {{ recipeResults[0].strArea }}</p>

        <div class="ingredientes">
            <h2>Ingredientes: </h2>
    
            <p> {{ recipeResults[0].strMeasure1 }} <strong>{{ recipeResults[0].strIngredient1 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure2 }} <strong>{{ recipeResults[0].strIngredient2 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure3 }} <strong>{{ recipeResults[0].strIngredient3 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure4 }} <strong>{{ recipeResults[0].strIngredient4 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure5 }} <strong>{{ recipeResults[0].strIngredient5 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure6 }} <strong>{{ recipeResults[0].strIngredient6 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure7 }} <strong>{{ recipeResults[0].strIngredient7 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure8 }} <strong>{{ recipeResults[0].strIngredient8 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure9 }} <strong>{{ recipeResults[0].strIngredient9 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure10 }} <strong>{{ recipeResults[0].strIngredient10 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure11 }} <strong>{{ recipeResults[0].strIngredient11 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure12 }} <strong>{{ recipeResults[0].strIngredient12 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure13 }} <strong>{{ recipeResults[0].strIngredient13 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure14 }} <strong>{{ recipeResults[0].strIngredient14 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure15 }} <strong>{{ recipeResults[0].strIngredient15 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure16 }} <strong>{{ recipeResults[0].strIngredient16 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure17 }} <strong>{{ recipeResults[0].strIngredient17 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure18 }} <strong>{{ recipeResults[0].strIngredient18 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure19 }} <strong>{{ recipeResults[0].strIngredient19 }}</strong></p>
            <p> {{ recipeResults[0].strMeasure20 }} <strong>{{ recipeResults[0].strIngredient20 }}</strong></p>
        </div>

        @if (recipeResults[0].strYoutube != "") {
            <div class="video_youtube">
                <a [href]="">Vídeo de youtube</a>
                <iframe width="420" height="315" class="video_youtube_iframe" [src]="recipeResults[0].strYoutube"></iframe>
            </div>
        }

        @if (recipeResults[0].strSource != "") {
            <div class="btn_actions">
                <button (click)="viewMore(recipeResults[0].strSource)" class="btn_view_more">Ver más</button>
            </div>
        }



    </div>


</div>