<div class="content_home">

    <div class="categories">
        @for (category of categories; track $index) {

            <span class="item_category" (click)="searchByCategory(category.strCategory)"> {{ category.strCategory }}</span>

            
        }
    </div>

    <div class="recipe_results">

        @for (recipe of recipeSearch; track $index) {
            <div class="item_recipe" (click)="viewDetails(recipe.idMeal)">
                <img [src]="recipe.strMealThumb" class="img_recipe" alt="">
                <span class="title_recipe">{{ recipe.strMeal }}</span>
            </div>
        }

    </div>

</div>
