/* You can add global styles to this file, and also import other style files */

:root {
    
    // --mt-background-color-app: #fdfbff;
    --mt-background-color-app: #f3f3f3;
    --mt-primary-color: #ef891b;
    --mt-white-color: #FFFFFF;
    --mt-black-color: #000000;

    --mt-text-title: #404040;
    --mt-text-subtitle: #949494;
    --mt-font-family: "Montserrat", sans-serif;
    --mt-font-family-cursive: "Great Vibes", cursive;


    background: var(--mt-background-color-app);
    font-family: var(--mt-font-family);
}

body {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .content_result_search {
        justify-content: center;
    }
    .content_home  {
        .recipe_results {
            justify-content: center;
        }
    }
    .content_details {
        flex-direction: column;
        .image_recipe {
            width: 100% !important;
        }
        .information_recipe {
            .video_youtube {
                .video_youtube_iframe {
                    width: 100%;
                }
            }
            .btn_actions {
                display: flex;
                justify-content: center;
            }
        }
    }
}


@media screen and (max-width: 767px) {

    .navbar {
        flex-direction: column;
        padding: 15px 10% !important;
        .menu_button_mobile {
            display: block !important;
        }
        .content_search {
            // display: none;
            margin-top: 25px;
        }
    }
    .content_result_search {
        justify-content: center;
    }
    .content_home  {
        .recipe_results {
            justify-content: center;
        }
    }
    .content_details {
        flex-direction: column;
        .image_recipe {
            width: 100% !important;
        }
        .information_recipe {
            .video_youtube {
                .video_youtube_iframe {
                    width: 100%;
                }
            }
            .btn_actions {
                display: flex;
                justify-content: center;
            }
        }
    }
}